aside.main-sidebar
	section.sidebar
		ul.sidebar-menu
			li.header
				| Main Navigation
			li.treeview
				a(href='/user')
					span
						| User
			li.treeview
				a(href='/subject')
					span
						| Subject
			li.treeview
				a(href='/blockrequest')
					span
						| Block Request
			li.treeview
				a(href='/bugreport')
					span
						| Bug Request
			li.treeview
				a(href='/requestedsubject')
					span
						| Requested Subject
			li.treeview
				a(href='/login/edit')
					span
						| Reset Admin
			li.treeview
				a(href='/login/logout')
					span
						| Log Out
